<%= provide(:title, "Redeem Gift Certificate") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend>Redeem Gift Certificate</legend>
    <%= render 'redemption_form' %><br />
    <p><%= link_to 'Back to main business page', owner_business_path(@owner, @business) %> | <%= link_to 'Back to customer profile view', business_customer_path(@business, @customer) %></p>
  </div>
</div>
